.panel.with-nav-tabs.panel-primary
    .panel-heading
        ul.nav.nav-tabs
            li.active
                a(href="#", data-toggle="tab")
                    i.fa.fa-fw.fa-th-list
                    | &nbsp;รายการใบเบิก&nbsp;
                    span.badge 99+
    .panel-body
        .tab-content
            .tab-pane.fade.in.active
                .row
                    .col-md-6.col-lg-6.col-sm-6
                        .input-group
                            input(type="text", ng-model="query", placeholder="ระบุเลขที่ใบเบิก เพื่อค้นหา").form-control.input-sm
                            span.input-group-btn
                                button(type="button").btn.btn-default.btn-sm
                                    i.fa.fa-search
                                    | &nbsp;ค้นหา
                .row
                    .col-md-12.col-lg-12.col-sm-12
                        table.table.table-striped
                            thead
                                tr
                                    th วันที่
                                    th เลขที่
                                    th เบิกจาก
                                    th จำนวน
                                    th ราคา
                                    th #
                            tbody
                                tr(ng-repeat="o in orders | filter: query")
                                    td.text-center {{o.order_date | toThaiDate}}
                                    td.text-center {{o.order_code}}
                                    td {{o.supplier_name}}
                                    td.text-right {{o.total_qty | number}}
                                    td.text-right {{o.total_price | number}}
                                    td.text-center 
                                        button(type="button", ng-click="doImport(o.id, o.order_date, o.order_code, o.supplier_name)").btn.btn-default
                                            i.fa.fa-database
