ol.breadcrumb
   li
      a(href="../pages/Index.html")
         i.fa.fa-home
         | &nbsp;หน้าหลัก
   li.active
      i.fa.fa-database
      | &nbsp;ข้อมูลยา

form(role="form").form-inline.well-sm
   .row
      .col-md-5.col-lg-5.col-sm-5
         | ค้นหา &nbsp;
         .input-group
            input(type="text", ng-model="query" style="width: 250px;" placeholder="ระบุชื่อยาเพื่อค้นหา").form-control
            span.input-group-btn
               button(type="button").btn.btn-primary
                  i.fa.fa-search
      .col-md-7.col-lg-7.col-sm-7
         .btn-group.pull-right
            button(type="button").btn.btn-default
               i.fa.fa-refresh
               | &nbsp; ทั้งหมด
            button(type="button").btn.btn-success
               i.fa.fa-filter
               | &nbsp; ถึงกำหนดเบิก
br
.well-sm
   table.table.table-hover
      thead
         tr
            th รหัส
            th ชื่อ
            th ความแรง
            th หน่วย
            th ราคาทุน
            th ราคาขาย
            th คงเหลือ
            th จุดเบิก
            //th บัญชี
            th MSKH_CODE
            th #
      tbody
         tr(ng-repeat="d in drugs | filter:query | orderBy: 'name'", ng-class="{'danger': d.qty < d.min_qty}")
            td.text-center {{d.icode}}
            td {{d.name}}
            td.text-center {{d.strength}}
            td.text-center {{d.units}}
            td.text-center {{d.cost}}
            td.text-center {{d.price}}
            td.text-center {{d.qty}}
            td.text-center {{d.min_qty}}
            //td.text-center {{d.drugaccount}}
            td.text-center {{d.mskh_code}}
            td.text-center
               a(href="#/detail/{{d.icode}}").btn.btn-sm.btn-primary
                  i.fa.fa-edit
