extends ../layouts/main

block scripts
    script(src="../../vendor/highcharts/highcharts.src.js")
    script(src="../../vendor/highcharts-ng/dist/highcharts-ng.js")
    script(src="Index.js")
    script(src="IndexController.js")
    script(src="IndexService.js")

block content
    ol.breadcrumb
        li.active
            i.fa.fa-line-chart
            | &nbsp;Dashboard
            
    div(ng-app="app.pages.Index", ng-controller="IndexController")
    
        .row
            .col-sm-8.col-md-8.col-lg-8
                .panel.panel-primary
                    .panel-heading
                        i.fa.fa-bar-chart-o
                        | &nbsp;แยกรายสิทธิ์
                    .panel-body
                        highchart#chart1(config="chartConfig")
            .col-sm-4.col-md-4.col-lg-4
                .panel.panel-primary
                    .panel-heading
                        i.fa.fa-bar-chart-o
                        | &nbsp;นำเข้าล่าสุด (10 อันดับแรก)
                    .panel-body
                        table.table.table-striped
                            thead
                                tr
                                    th #
                                    th ตั้งแต่
                                    th ถึง
                            tbody
                                tr(ng-repeat="l in importLogs | orderBy: 'date_start': true")
                                    td.text-center {{$index+1}}
                                    td.text-center {{l.start_date | toThaiDate}}
                                    td.text-center {{l.end_date | toThaiDate}}
        .row
            .col-sm-6.col-md-6.col-lg-6
                .panel.panel-primary
                    .panel-heading
                        i.fa.fa-bar-chart-o
                        | &nbsp;สถิติการจ่ายยา (ครั้ง)
                    .panel-body
                        table.table.table-striped
                            thead
                                tr
                                    th #
                                    th รายการ
                                    th ครั้ง
                            tbody
                                tr(ng-repeat="v in visits")
                                    td.text-right {{$index+1}}
                                    td {{v.name}}
                                    td.text-right {{v.total | number}}
            .col-sm-6.col-md-6.col-lg-6
                .panel.panel-primary
                    .panel-heading
                        i.fa.fa-bar-chart-o
                        | &nbsp;มูลค่าการจ่าย (บาท)
                    .panel-body
                        table.table.table-striped
                            thead
                                tr
                                    th #
                                    th รายการ
                                    th ราคา
                            tbody
                                tr(ng-repeat="p in itemsPrice")
                                    td.text-right {{$index+1}}
                                    td {{p.name}}
                                    td.text-right {{p.total | number}}    
