.panel.with-nav-tabs.panel-primary
    .panel-heading
        ul.nav.nav-tabs
            li.active
                a(href="#", data-toggle="tab")
                    i.fa.fa-fw.fa-th-list
                    | &nbsp;รายการใบเบิก&nbsp;
                    span.badge [{{orders.length}}]
    .panel-body
        .tab-content
            .tab-pane.fade.in.active
                .row
                    .col-md-6.col-lg-6.col-sm-6
                        .input-group
                            input(type="text", placeholder="ระบุเลขที่ใบเบิก เพื่อค้นหา", ng-model="query").form-control.input-sm
                            span.input-group-btn
                                button(type="button").btn.btn-default.btn-sm
                                    i.fa.fa-search
                                    | &nbsp;ค้นหา
                    .col-md-6.col-lg-6.col-sm-6
                        .btn-group.pull-right
                            button(type="button").btn.btn-default.btn-sm
                                i.fa.fa-refresh
                                | &nbsp;ทั้งหมด
                            button(type="button").btn.btn-success.btn-sm
                                i.fa.fa-check-square
                                | &nbsp;นำเข้าแล้ว
                            button(type="button").btn.btn-danger.btn-sm
                                i.fa.fa-remove
                                | &nbsp;ยังไม่นำเข้า
                .row(ng-show="isProcessing")
                    .col-md-12.col-lg-12.col-sm-12
                        br
                        .progress
                            .progress-bar.progress-bar-success(role="progressbar")
                //- table order history
                table.table.table-striped
                    thead
                        tr
                            th วันที่
                            th เลขที่
                            th เบิกจาก
                            th จำนวน
                            th ราคา
                            th #
                    tbody
                        tr(ng-repeat="o in orders | filter: query")
                            td.text-center {{o.order_date | toThaiDate}}
                            td.text-center {{o.order_code}}
                            td {{o.supplier_name}}
                            td.text-right {{o.total_qty | number}}
                            td.text-right {{o.total_price | number}}
                            td.text-center 
                                a(href="#/edit/{{o.id}}").btn.btn-default
                                    i.fa.fa-edit
