.panel.with-nav-tabs.panel-primary
    .panel-heading
        ul.nav.nav-tabs
            li.active
                a(href="#tab1", data-toggle="tab")
                    i.fa.fa-fw.fa-th-list
                    | &nbsp;รายการใบเบิก&nbsp;
                    span.badge 99+
    .panel-body
        .tab-content
            .tab-pane.fade.in.active#tab1
                .row
                    .col-md-8.col-lg-8.col-sm-8
                        .input-group
                            input(type="text", placeholder="ระบุเลขที่ใบเบิก เพื่อค้นหา").form-control.input-sm
                            span.input-group-btn
                                button(type="button").btn.btn-default.btn-sm
                                    i.fa.fa-search
                                    | &nbsp;ค้นหา
                    .col-md-4.col-lg-4.col-sm-4
                        .btn-group.pull-right
                            button(type="button").btn.btn-default.btn-sm
                                i.fa.fa-refresh
                                | &nbsp;ทั้งหมด
                            button(type="button").btn.btn-success.btn-sm
                                i.fa.fa-check-square
                                | &nbsp;อนุมัติ
                            button(type="button").btn.btn-danger.btn-sm
                                i.fa.fa-remove
                                | &nbsp;ยกเลิก

                //table order history
                table.table.table-striped
                    thead
                        tr
                            th เลขที่
                            th วันที่
                            th เบิกจาก
                            th จำนวน
                            th ราคา
                            th #
                    tbody
                        tr
                            td(colspan="6") ...
                nav
                    ul.pagination
                        li.disabled
                            a(href="#") &laquo;
                        li.active
                            a(href="#") 1
                                span.sr-only (current)
                        li
                            a(href="#") 2
                        li
                            a(href="#") 3
                        li
                            a(href="#") 4
                        li
                            a(href="#") 5
                        li
                            a(href="#") &raquo;