.panel.with-nav-tabs.panel-primary
    .panel-heading
        ul.nav.nav-tabs
            li.active
                a(href="#/new", data-toggle="tab")
                    i.fa.fa-shopping-cart
                        | &nbsp;บันทึกใบเบิกเวชภัณฑ์
    .panel-body
        .tab-content
            .tab-pane.fade.in.active

                form(role="form")
                    .row
                        .col-md-3.col-lg-3.col-sm-3
                            label เลขที่ใบเบิก
                            .input-group
                                input(type="text", ng-model="orderCode").form-control.input-sm
                                span.input-group-btn
                                    button(type="button").btn.btn-default.btn-sm
                                        i.fa.fa-search
                        .col-md-3.col-lg-3.col-sm-3
                            .pull-right
                                label วันที่เบิก
                                input(type="date", style="width: 150px;", ng-model="orderDate").form-control.input-sm
                        .col-md-6.col-lg-6.col-sm-6
                            label คลังหลัก
                            select.form-control.input-sm
                                option(value="11") (10707) โรงพยาบาลมหาสารคาม

                table.table.table-striped
                    thead
                        tr
                            th #
                            th รหัส
                            th รายการ
                            th ราคา
                            th จำนวน
                            th รวม
                            th #
                    tbody
                        tr
                            td(colspan="7") ...
                .btn-group
                    button(type="button").btn.btn-primary.btn-sm
                        i.fa.fa-plus
                        | &nbsp;เพิ่มรายการ
                    button(type="button").btn.btn-default.btn-sm
                        i.fa.fa-refresh
                        | &nbsp;เริ่มใหม่

                .btn-group.pull-right
                    button(type="button").btn.btn-success.btn-sm
                        i.fa.fa-save
                        | &nbsp;บันทึก
                    button(type="button").btn.btn-default.btn-sm
                        i.fa.fa-trash
                        | &nbsp;ยกเลิก