extends ../layouts/Main

block scripts
    script(src="ChangePassword.js")
    script(src="ChangePasswordController.js")
    script(src="ChangePasswordService.js")
                
block content
    ol.breadcrumb
        li
            a(href="../pages/Index.html")
                i.fa.fa-home
                | &nbsp;หน้าหลัก
        li.active
            i.fa.fa-key
            | &nbsp;เปลี่ยนรหัสผ่าน

    .row(ng-app="app.tools.ChangePassword", ng-controller="ChangePasswordController")
        .col-sm-6.col-md-6.col-lg-6
            
            .panel.with-nav-tabs.panel-primary
                .panel-heading
                    ul.nav.nav-tabs
                        li.active
                            a(href="#")
                                i.fa.fa-fw.fa-key
                                | &nbsp;เปลี่ยนรหัสผ่าน
                .panel-body
                    .tab-content
                        .tab-pane.fade.in.active
                            form(role="form", name="frmChangePass")
                                label รหัสผ่านใหม่
                                input(type="password", ng-model="newPassword1", ng-required="true").form-control
                                label รหัสผ่านใหม่ (อีกครั้ง)
                                input(type="password", ng-model="newPassword2", ng-required="true").form-control
                                br
                                button(type="button", ng-disabled="frmChangePass.$invalid", ng-click="doChange()").btn.btn-success
                                    i.fa.fa-save
                                    | &nbsp;เปลี่ยนรหัสผ่าน
                                
